/*Sifirlama*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*
LESS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: @icon-home-width;
}

The large array-like variables contain all information about a single icon
@icon-home: x y offset_x offset_y width height total_width total_height image_path name;

At the bottom of this section, we provide information about the spritesheet itself
@spritesheet: width height image @spritesheet-sprites;
*/
/*
The provided classes are intended to be used with the array-like variables

.icon-home {
  .sprite-width(@icon-home);
}
.icon-email {
  .sprite(@icon-email);
}
*/
/*
The `.sprites` mixin generates identical output to the CSS template
  but can be overridden inside of LESS

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

.sprites(@spritesheet-sprites);
*/
/*GENEL AYARLAR*/
/*
@color1:#f2f2f2;
@color2:#e0e0e0;
@color3:#ddd;
@color4:#ddd;
@color5:#ddd;
@color6:#ddd;*/
body {
  background: #ffffff;
  font-size: 12px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}
/*Ortalama - Genel Boyutlandırma*/
.GeneralContainerSized {
  width: 1140px;
  margin: 0px auto;
}
.Space6px {
  margin-right: 11px;
}
.FooterPush {
  height: 100%;
}
/*Sosyal iconlar*/
.Social-Icon {
  margin-left: 3px;
  float: right;
  height: 21px;
  width: 26px;
  background: #a3a3a3;
  border-radius: 1px;
  color: white;
  font-size: 15px;
  text-align: center;
  padding-top: 5px;
  cursor: pointer;
}
.Color-Vimeo {
  background-color: #46a3e9;
}
.Color-Youtube {
  background-color: #cc181e;
}
.Color-Twitter {
  background-color: #59c8ff;
}
.Color-Facebook {
  background-color: #4a639f;
}
.Color-Dribbble {
  background-color: #ea4c89;
}
.Color-Rss {
  background-color: #f97410;
}
.Color-Github {
  background-color: #666666;
}
/*Haber Line*/
.News-Title {
  font-size: 13px;
  padding-left: 10px;
  color: white;
  background-image: url(../img/sprite.png);
  background-position: 0px -88px;
  background-color: #e0e0e0;
  width: 111px;
  height: 27px;
  float: left;
  cursor: pointer;
}
.News-Text {
  font-size: 12px;
  font-weight: 700;
  background-color: #e0e0e0;
  width: 258px;
  height: 20px;
  padding-top: 7px;
  padding-left: 7px;
  color: #929292;
  float: left;
  cursor: pointer;
}
/*HEADER*/
/*Topbar*/
.Top-Bar {
  height: 34px;
  width: 100%;
  background: #f2f2f2;
  padding-top: 7px;
}
/*Sosyal Iconlar*/
.Social-Counter {
  float: right;
}
/*Logo*/
.logo {
  margin-top: 50px;
  float: left;
  cursor: pointer;
}
/*Reklam*/
.adblock {
  cursor: pointer;
  width: 728px;
  height: 90px;
  float: right;
  margin-top: 30px;
  background: #f2f2f2;
}
/*Menu*/
.Main-Menu {
  background: #e0e0e0;
  width: 100%;
  height: 41px;
  float: left;
  margin-top: 30px;
  border-bottom: 2px solid #b7b7b7;
  border-radius: 2px;
}
.Main-Menu-Items {
  font-size: 16px;
  font-weight: 900;
  color: #585851;
  float: left;
  padding: 12px 25px 0px 25px;
  height: 29px;
  cursor: pointer;
  letter-spacing: -1px;
}
.Main-Menu-Items:hover {
  border-bottom: 2px solid red;
  background: #b7b7b7;
}
.Main-Menu-Items-Right {
  float: right;
  padding: 12px 18px 0px 18px;
  background: #b7b7b7;
  height: 29px;
  font-size: 16px;
  font-weight: 900;
  cursor: pointer;
  color: #5d5d5d;
}
.Main-Menu-Items-Right:hover {
  background: #9E9E9E;
}
.Main-Menu-Item-Right2 {
  margin-right: 6px;
}
/*BANNER*/
.Top-Contents-Bg {
  background-color: #f2f2f2;
  height: 390px;
  width: 100%;
  float: left;
  margin-top: 18px;
}
.Top-Contents-Slider {
  height: 350px;
  width: 750px;
  background: #d0d0d0;
  margin-top: 20px;
  margin-right: 30px;
  float: left;
  position: relative;
}
.Top-Contents-RightBlock {
  width: 360px;
  height: 165px;
  background: #d0d0d0;
  float: right;
  margin-top: 20px;
  position: relative;
}
.Content-News-Ticker {
  margin: 30px 0px 10px 0px;
  float: left;
}
.Slider-Gradient-Info-Container {
  width: 100%;
  height: 88px;
  position: absolute;
  bottom: 0px;
  background-image: url(../img/sprite.png);
  background-position: 0px 0px;
  background-repeat: repeat-x;
}
.Top-Contents-RightBlock-Text {
  font-size: 15px;
  color: #ffffff;
  font-weight: 700;
  position: absolute;
  bottom: 15;
  left: 13;
  text-shadow: 1px 1px 1px #707070;
}
.Top-Contents-Slider-Title {
  font-size: 15px;
  color: #ffffff;
  font-weight: 700;
  margin-bottom: 10px;
  margin-top: 35px;
  margin-left: 14px;
  text-shadow: 1px 1px 1px #707070;
}
.Top-Contents-Slider-Info-Time {
  float: left;
  font-weight: 400;
  font-style: italic;
  color: #b3b3b3;
  font-size: 13px;
  margin-left: 14px;
  text-shadow: 1px 1px 1px #4F4F4F;
}
.Top-Contents-Slider-Info-Author {
  float: left;
  font-weight: 400;
  font-style: italic;
  color: #b3b3b3;
  font-size: 13px;
  cursor: pointer;
  text-shadow: 1px 1px 1px #3E3E3E;
  margin-left: 20px;
}
.Top-Contents-Slider-Info-Message {
  float: right;
  margin-right: 18px;
  font-weight: 400;
  font-style: italic;
  color: #b3b3b3;
  font-size: 13px;
  cursor: pointer;
  text-shadow: 1px 1px 1px #3E3E3E;
}
/*Contents List*/
.Content-Listing-Items-Left {
  height: 32px;
  text-align: center;
  font-size: 13px;
  color: #929292;
  font-weight: 700;
  background-color: #EAEAEA;
  float: left;
  margin-right: 5px;
  line-height: 2.5;
  padding: 0px 10px 0px 10px;
  cursor: pointer;
}
.Content-Listing-Items-Left:hover {
  background-color: #DCDCDC;
}
.Content-Listing-Container {
  float: left;
  width: 750px;
  margin-top: 20px;
}
.Content-Listing-Content {
  width: 100%;
  float: left;
  border-top: 2px solid #c9c9c9;
}
.Content-Listing-Content-Container {
  border-bottom: 1px solid #D2D2D2;
  float: left;
  height: 247px;
  width: 750px;
}
.Content-Listing-Content-Images {
  width: 360px;
  height: 200px;
  background-color: #d0d0d0;
  float: left;
  cursor: pointer;
  margin-top: 23px;
  position: relative;
}
.Content-Listing-Content-Images-Title {
  height: 27px;
  text-align: center;
  color: #dddddd;
  font-size: 13px;
  font-weight: 700;
  line-height: 2;
  background-color: #266bbf;
  float: left;
  margin-top: 18px;
  padding: 0px 10px 0px 10px;
  cursor: pointer;
}
.Content-Listing-Content-Title {
  margin-top: 40px;
  font-weight: 900;
  font-size: 13px;
  color: #807F7F;
  float: left;
  margin-left: 29px;
  width: 360px;
  cursor: pointer;
}
.Content-Listing-Content-Info-Time {
  float: left;
  margin-left: 29px;
  margin-top: 15px;
  font-weight: 400;
  font-style: italic;
  color: #919191;
  font-size: 13px;
}
.Content-Listing-Content-Info-Author {
  float: left;
  margin-left: 40px;
  margin-top: 15px;
  font-weight: 400;
  font-style: italic;
  color: #919191;
  font-size: 13px;
  cursor: pointer;
}
.Content-Listing-Content-Info-Message {
  float: right;
  margin-left: 7px;
  margin-top: 15px;
  font-weight: 400;
  font-style: italic;
  color: #919191;
  font-size: 13px;
  cursor: pointer;
}
.Content-Listing-Content-Text {
  float: left;
  width: 360px;
  height: 86px;
  margin-left: 29px;
  margin-top: 21px;
  font-size: 13px;
  line-height: 1.8;
  color: #717171;
  overflow: hidden;
}
.Content-Listing-Content-Read-Button {
  cursor: pointer;
  height: 27px;
  text-align: center;
  color: #dddddd;
  font-size: 13px;
  font-weight: 700;
  line-height: 2;
  background-color: #266bbf;
  float: left;
  padding: 0px 10px 0px 10px;
  margin-left: 27px;
}
/*SIDEBAR*/
.Side-Bar-Container {
  width: 360px;
  float: right;
  margin-top: 30px;
}
.Side-Bar-Social {
  background-color: #B9B9B9;
  height: 200px;
  width: 360px;
  float: right;
  margin-bottom: 47px;
}
.Sidebar-Social-Container {
  float: left;
  width: 120px;
  margin-top: 17px;
}
.Sidebar-Social-Icon {
  height: 27px;
  width: 33px;
  margin-right: 10px;
  float: left;
  font-size: 20px;
  color: white;
  text-align: center;
  padding-top: 6px;
}
.Sidebar-Social-Number {
  float: left;
  font-family: arial;
  font-size: 14px;
  font-weight: bold;
  color: #606060;
  margin-top: 4px;
  width: 75px;
}
.Sidebar-Social-Text {
  float: left;
  font-size: 12px;
  margin-top: 2px;
  color: #9d9d9d;
}
.Side-Bar-Listing-Items-Left {
  height: 32px;
  text-align: center;
  font-size: 13px;
  color: #ffffff;
  font-weight: 700;
  background-color: #626262;
  float: left;
  margin-right: 5px;
  line-height: 2.5;
  padding: 0px 10px 0px 10px;
  cursor: pointer;
}
.Side-Bar-Listing-Items-Left:hover {
  background-color: #6f6f6f;
}
.Side-Bar-Listing-Container {
  float: left;
  width: 100%;
  margin-bottom: 25px;
}
.Side-Bar-Listing-Content {
  width: 100%;
  float: left;
  border-top: 2px solid #626262;
  min-height: 40px;
}
/*FOOTER*/
/*Footer Ust*/
.Bigger-Footer {
  background: #e0e0e0;
  height: 313px;
  width: 100%;
  float: left;
  margin-top: 30px;
}
.Footer-Widget-Container {
  width: 360px;
  float: left;
  margin-right: 20px;
}
.Footer-Widget-Title-Container {
  width: 360px;
  overflow: hidden;
  height: 34px;
  margin-top: 32px;
}
.Footer-Widget-Title-Item {
  height: 34px;
  padding: 0px 16px 0px 16px;
  font-size: 13px;
  color: #fcfcfc;
  line-height: 2.7;
  background: #626262;
  text-align: center;
  float: left;
  margin-right: 3px;
  cursor: pointer;
}
.Footer-Widget-Title-Item:hover {
  background: #565656;
}
.Footer-Widget-Content {
  border-top: 2px solid #626262;
  width: 360px;
  font-size: 14px;
  color: #5f6569;
  line-height: 1.5;
  height: 180px;
  overflow: hidden;
}
.Footer-Logo {
  margin: 22px 0px 22px 0px;
  width: 218px;
}
.Footer-Post-List-Item {
  height: 89px;
  width: 100%;
  border-bottom: 1px solid #FFFFFF;
}
.Footer-Post-List-Image {
  margin-top: 18px;
  width: 90px;
  height: 60px;
  background-color: #d0d0d0;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  float: left;
}
.Footer-Post-List-Title {
  margin-top: 27px;
  font-weight: 900;
  font-size: 13px;
  color: #807F7F;
  float: left;
  margin-left: 7px;
  width: 263px;
}
.Footer-Post-List-Info-Time {
  float: left;
  margin-left: 7px;
  margin-top: 7px;
  font-weight: 400;
  font-style: italic;
  color: #919191;
  font-size: 13px;
}
.Footer-Post-List-Info-Author {
  float: left;
  margin-left: 40px;
  margin-top: 7px;
  font-weight: 400;
  font-style: italic;
  color: #919191;
  font-size: 13px;
}
.Footer-Post-List-Info-Message {
  float: right;
  margin-left: 7px;
  margin-top: 7px;
  font-weight: 400;
  font-style: italic;
  color: #919191;
  font-size: 13px;
}
.Footer-tags {
  height: 30px;
  border: 1px solid #a0a0a0;
  color: #807F7F;
  font-size: 13px;
  font-weight: 700;
  background-color: #f4f4f4;
  text-align: center;
  line-height: 2.3;
  margin-right: 11px;
  float: left;
  padding: 0px 8px 0px 10px;
  margin-top: 9px;
  cursor: pointer;
}
.Footer-tags:hover {
  background-color: #FFFFFF;
}
/*Footer Alt*/
.Lower-Footer {
  background: #cfcfcf;
  height: 43px;
  width: 100%;
  float: left;
}
.Social-Counter-Footer {
  padding-top: 9px;
}
.Copyright {
  color: #5f6569;
  font-size: 13px;
  line-height: 3.2;
  float: left;
}
